{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style="background-color:transparent !important;">
    <h1>Task<></h1>
    <p class="lead">Available for free on iPhone, iPad, Mac, Android, Windows, Kindle Fire and the Web, Task<> works seamlessly across all major devices to keep your life in sync.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Task<> is here to help you tick off all your personal and professional to-dos.</p>
    </div>
    <div class="col-md-4">
        <h2>Plan for anything</h2>
        <p>Organize and share your to-do, work, grocery, movies and household lists.</p>
    </div>
    <div class="col-md-4">
        <h2>Get reminded anytime</h2>
        <p>Set Due Dates and Reminders and Assign to-dos. No matter whether your lists are work related or just for fun,
         you will never miss a deadline again with Wunderlist in charge.</p>
    </div>
</div>
<h2>Testimonials</h2>

 
        <div class="col-md-4">
            <div class="testimonials">
            	<div class="active item">
                  <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Lina Mars</span>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>




        <div class="col-md-4">
            <div class="testimonials">
            	<div class="active item">
                  <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="https://i.stack.imgur.com/y0kWj.jpg?s=328&g=1" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Prince Regencia</span>
                      <span class="testimonials-post">.Net Developer</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
 


        <div class="col-md-4">
            <div class="testimonials">
            	<div class="active item">
                  <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="http://www.istorya.net/forums/attachments/career-center-77/8999d1373427039-arcanys-inc-05_rgb72dpi.png" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Arcanys</span>
                      <span class="testimonials-post">Software Development Company</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>



{% endblock %}
