{% extends "app/layout.html" %}

{% block content %}

{% load staticfiles %}
{% if user.is_authenticated %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#sortable").sortable();
        //$("#sortable").disableSelection();
   

        countTodos();
        var TaskID;

        // all done btn
        $("#checkAll").click(function () {
            AllDone();
        });

        //create todo
        $('.add-todo').on('keypress', function (e) {
            e.preventDefault
            if (e.which == 13) {
                if ($(this).val() != '') {
                    var todo = $(this).val();
                    createTodo(todo);
                    countTodos();
                } else {
                    // some validation
                }
            }
        });
        // mark task as done
        $('.todolist').on('change', '#sortable li input[type="checkbox"]', function () {
            if ($(this).prop('checked')) {
                var doneItem = $(this).parent().parent().find('label').text();
                var todoID = $(this).attr('data-value');
                $(this).parent().parent().parent().addClass('remove');
                done(doneItem);
                countTodos();
                MarkTodoAsDone(todoID);
                
            }
        });

        //delete done task from "already done"
        $('.todolist').on('click', '.remove-item', function () {
            removeItem(this);
        });

        // count tasks
        function countTodos() {
            var count = $("#sortable li").length;
            $('.count-todos').html(count);
        }

        //create task
        function createTodo(text) {
            if (TaskID != undefined) {
                //var markup = '<div class="checkbox"><label><input type="checkbox" value="" />' + text + '</label></div>';
                //$('#todoItems').append(markup);
                $('.add-todo').val('');
                SaveToDo(text);
                $('#errorMessage').hide();
            }
            else {
                
                $('#errorMessage').show();
            }
            
        }

        //mark task as done
        function done(doneItem) {
            var done = doneItem;
            var markup = '<li><strike>' + done + '<button class="btn btn-default btn-xs pull-right  remove-item"><span class="glyphicon glyphicon-remove"></span></button></strike></li>';
            $('#done-items').append(markup);
   
        }

        //mark all tasks as done
        function AllDone() {
            var myArray = [];

            $('#sortable li').each(function () {
                myArray.push($(this).text());
            });

            // add to done
            for (i = 0; i < myArray.length; i++) {
                $('#done-items').append('<li>' + myArray[i] + '<button class="btn btn-default btn-xs pull-right  remove-item"><span class="glyphicon glyphicon-remove"></span></button></li>');
            }

            // myArray
            $('#sortable li').remove();
            countTodos();
        }
        //remove done task from list
        function removeItem(element) {
            $(element).parent().remove();
        }

        $('#task_form').on('submit', function (event) {
            event.preventDefault();
            var name = $("#ListName").val();
            SaveTask();
        });

        function MarkTodoAsDone(paramtodoID) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            $.ajax({
                url: "/markasDone/", // the endpoint
                type: "POST", // http method
                data: { todoID: paramtodoID }, // data sent with the post request
                // handle a successful response
                success: function (json) {
                    getTodoByID();
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert(errmsg)
                }
            });
        }

        function SaveToDo(todo) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            $.ajax({
                url: "/AddToDo/", // the endpoint
                type: "POST", // http method
                data: { todoName: todo,taskID:TaskID }, // data sent with the post request
                // handle a successful response
                success: function (json) {
                    getTodoByID();
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert(errmsg)
                }
            });
        }

        function SaveTask() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });
            $.ajax({
                url: "/AddTask/", // the endpoint
                type: "POST", // http method
                data: { taskname: $('#ListName').val() }, // data sent with the post request
                // handle a successful response
                success: function (json) {
                    location.reload();
                    $('#squarespaceModal').modal('toggle');
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    alert(errmsg)
                }
            });
        }

        function getTodoByID() {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            $.get('/getTodoByTaskID/', { taskID: TaskID }, function (data) {

                        $('#todoItems').empty();
                        $('#done-items').empty();
                $.each(data, function (i, obj) {
                                var name = obj.fields['ToDoName'];
                                var id = obj.pk;
                                var isDone = obj.fields['isDone'];
                                if (isDone == false) {
                                    var markup = '<div class="checkbox"><label><input data-value="' + id + '" type="checkbox" value="" />' + name + '</label></div>';
                                    $('#todoItems').append(markup);
                                }
                                else {
                                    var markupDone = '<li><strike>' + name + '<button class="btn btn-default btn-xs pull-right  remove-item"><span class="glyphicon glyphicon-remove"></span></button></strike></li>';
                                    $('#done-items').append(markupDone);
                                }
                       
                            });
            });
           
        }

        $('ul.nav a').click(function () {
            TaskID = $(this).attr('id');
            var id = $(this).attr('id');
            var dataValue = $(this).attr('data-value');
            $('#errorMessage').hide();
            if (id != undefined) {
                $("label[for = unit]").text(dataValue);
                getTodoByID();
            }
        });

    });
</script>

<div class="container" style="margin-top:45px">
        <div class="row profile">
		            <div class="col-md-3">
			                <div class="profile-sidebar">
				                <!-- SIDEBAR USERPIC -->
                	                <div class="profile-userpic">
					                <img src="https://yt3.ggpht.com/-KoZumd9nea8/AAAAAAAAAAI/AAAAAAAAAAA/q8Dv5ddfkaM/s900-c-k-no-rj-c0xffffff/photo.jpg" class="img-responsive">
				                </div>
				                <!-- END SIDEBAR USERPIC -->
				                <!-- SIDEBAR USER TITLE -->
				                <div class="profile-usertitle">
					                <div class="profile-usertitle-name">
						                {{ user.username }}
					                </div>
					                <div class="profile-usertitle-job">
						                {{ user.email }}
					                </div>
				                </div>
				                <!-- END SIDEBAR USER TITLE -->
				                <!-- SIDEBAR BUTTONS -->
				                <div class="profile-userbuttons">
					                <button type="button" data-toggle="modal" data-target="#squarespaceModal" class="btn btn-success btn-sm">Create Task</button>
				                </div>
				                <!-- END SIDEBAR BUTTONS -->
				                <!-- SIDEBAR MENU -->
				                <div class="profile-usermenu">
					                <ul class="nav">
						                <li class="active">
							                <a href="#">
							                <i class="glyphicon glyphicon-inbox"></i>
							                Inbox </a>
						                </li>
						                <li id="tasklist">
                                            {% for task in Tasks %}
                                                <a href="#" id="{{task.id}}" data-value="{{ task.TaskName }}"><i id="{{task.id}}"  class="glyphicon glyphicon-tasks"></i>{{ task.TaskName }}</a>
                                            {% empty %}
                                                 <li>No List yet.</li>
                                            {% endfor %}
						                </li>
					                </ul>
				                </div>
				                <!-- END MENU -->
			                </div>
		            </div>
		            <div class="col-md-9">
                       <div class="profile-content">
			                   <div class="container">
	                                <div class="row">
                                        {# To goes here #}
		                                <section class="content">
                                            <h1><label for="unit"></label></h1>
                                           
			                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="todolist not-done">
                                                                 <h1>Todos</h1>
                                                                    <input type="text" class="form-control add-todo" placeholder="Add todo" required data-toggle="floatLabel">
                                                                    <div class="alert alert-danger"  id="errorMessage" style="display: none;">
                                                                      <strong>Error!</strong> Please select task.
                                                                    </div>
                                                                    <br />
                                                                        <hr>
                                                                        <ul id="sortable" class="list-unstyled">
                                                                                <li id="todoItems" class="ui-state-default">
                                                                                 
                                                                                </li>   
                                                                                
                                                                        </ul>
                                                                    <div class="todo-footer">
                                                                        <!-- <strong><span class="count-todos"></span></strong> Items Left-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="todolist">
                                                                 <h1>Already Done</h1>
                                                                       <ul id="done-items" class="list-unstyled">
                                                                      </ul>      
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
		                                </section>
	                                    </div>
                                    </div>
                            </div>
		            </div>
	    </div>
</div>

<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" >
  <div class="modal-dialog" style="width:450px">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h3 class="modal-title" id="lineModalLabel">Create New List</h3>
		</div>
        <form id="task_form" action="" method="POST">
            {% csrf_token %}
           <div class="modal-body" >
            <!-- content goes here -->
                <div class="form-group ">
                    <label>List Name</label>
                    <input id="ListName" class="form-control"  placeholder="Enter List Name"  required data-toggle="floatLabel">
                      <br />
                      <div class="profile-usertitle-name">
						                    {{ user.username }} <span class="label label-success">Owner</span>
					                    </div>
					                    <div class="profile-usertitle-job">
						                    {{ user.email }}
					                    </div>
                </div>
		    </div>
	        <div class="modal-footer">
                <br />
					    <input type="submit" id="saveTask" class="btn btn-success btn-hover-green" data-action="save" role="button">
                <br />
                <br />
		    </div>
        </form>
	</div>
  </div>
</div>
{% else %}
<p><br /><br /><h4 style="color:red">Sign in to view board</h4></p>
{% endif %}
{% endblock %}






